*
!.gitignore
!README.md

!Anime-Wallpaper-master/
!Anime-Wallpaper-master/**/*

!nordic-wallpapers-main/
!nordic-wallpapers-main/**/*

!my/
!my/**/*

!Nord-wallpapers-main/
!Nord-wallpapers-main/**/**

!uhdpaper/
!uhdpaper/**/*

!wallpaper/
!wallpaper/**/*

!wallpapers-main/
!wallpapers-main/**/*
