*
!.gitignore

!Anime-Wallpaper-master/
!Anime-Wallpaper-master/**/*

!my/
!my/**/*

!Nord-wallpapers-main/
!Nord-wallpapers-main/**/**

!uhdpaper/
!uhdpaper/**/*

!wallpaper/
!wallpaper/**/*

!wallpapers-main/
!wallpapers-main/**/*
